<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="edit-profile">
    <div class="row">
      <div class="card col-md-12">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6">
                    <form class="search-form contact-search">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="Search by name..."
                                >
                        </div>
                    </form>
                </div>
                <div class="col-xl-6">
                    <div class="contact-filter">
                        <button class="btn btn-primary ml-2" [routerLink]="['/admins/new-admin']"><i>Ajouter</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Administrations</h4>
            <div class="card-options"><a class="card-options-collapse" [routerLink]="[]" data-toggle="card-collapse"><i
                  class="fe fe-chevron-up"></i></a><a class="card-options-remove" [routerLink]="[]"
                data-toggle="card-remove"><i class="fe fe-x"></i></a></div>
          </div>
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Prénom</th>
                  <th>Nom</th>
                  <th>Email</th>
                  <th>Rôle</th>
                  <th>Activé</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let admin of admins">
                <tr>
                  <td>{{admin.login}}</td>
                  <td>{{admin.firstName}}</td>
                  <td>{{admin.lastName}}</td>
                  <td>{{admin.email}}</td>
                  <td><h6 *ngFor="let role of admin.authorities"> <span class="badge badge-primary">{{role}}</span></h6></td>
                  <td><h4>
                     <span class="badge badge-success"><i *ngIf="admin.activated === true" class="icofont icofont-ui-check"></i></span>
                     <span class="badge badge-danger"><i *ngIf="admin.activated === false" class="icofont icofont-ui-close"></i></span>
                    </h4>
                  </td>
                  <td>            
                    <div ngbDropdown class="btn-group" role="group">
                      <button type="button" class="btn btn-light dropdown-toggle" id="dropdownBasic1"
                        ngbDropdownToggle>Voir</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" (click)="desactivate(admin.login)">Désactiver</button>
                        <button class="dropdown-item" [routerLink]="['/admins/edit-admin',admin.login]">Editer</button>
                        <button class="dropdown-item" (click)="delete(admin.login)">Supprimer</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->