<!-- Container-fluid starts-->
<div class="container-fluid" [class.sidebaron]="sidebaron">
    <div class="">
        <div class="authentication-box contact-profile-form">
            <div class="text-center"><img src="assets/images/side-daara.jpg" alt=""></div>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="text-center user-profile">
                        <!-- <div class="hovercard">
                            <div class="contact-profile">
                                <img class="rounded-circle img-100" alt=""
                                    [src]="url? url:'assets/images/user/user.png'">
                            </div>
                        </div> -->
                    </div>
                    <form class="theme-form" [formGroup]="celluleForm">
                        <div class="form-group">
                            <label class="col-form-label">Nom</label>
                            <input class="form-control" type="text" formControlName="nom" required="">
                            <div *ngIf="celluleForm.controls.nom.touched && celluleForm.controls.nom.errors?.required"
                                class="text text-danger mt-1">
                                nom  is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">description</label>
                            <input class="form-control" type="text" formControlName="description" required="">
                            <div *ngIf="celluleForm.controls.description.touched && celluleForm.controls.description.errors?.required"
                                class="text text-danger mt-1">
                                description is required
                            </div>
                        </div>
                        
                        <div class="form-group form-row mt-3 mb-0">
                            <button class="btn btn-primary mr-2" [disabled]="!celluleForm.valid"
                                (click)="save(celluleForm.value)" type="submit"> Enregistrer
                            </button>
                            <button class="btn btn-primary" type="button" data-original-title="btn btn-info-gradien"
                                (click)="cancel()" title="">
                                Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->